/* readonly field */
.vms-readonly-input {
    background-color: #e7e6e6;
    cursor: not-allowed;
}

.tox-notifications-container {
    display: none !important;
}

.vs--searchable .vs__dropdown-toggle {
    /* height: 2.05rem !important; */
}

.vms-no-data-found{
    color: #ef2323;
    font-weight: bold;
}

.vms-required-input-border{
    outline: none !important;
    border: 1px solid #ec2525 !important;
}

.vs--searchable .vs__dropdown-toggle {
    /* height: 2.30rem !important; */
}

.filter_input{
    padding: 0 5px;
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    font-size: 12px;
}

/* title-tip down */
[data-title]:hover {
    position: relative;
}
[data-title]:hover:before {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999;
    content: attr(data-title);
    margin-top: 0.5em;
    padding: 0.5em;
    width: 200px;    /* change it */
    overflow: hidden;
    word-wrap: break-word;
    font-size: inherit;
    color: #FFF;
    text-align: center;
    background-color: #222;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
[data-title]:hover:after {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 99999;
    content: '';
    margin-left: -0.125em;
    width: 0;
    height: 0;
    border: 0.25em dashed transparent;
    border-bottom: 0.25em solid #222;
    font-size: inherit;
}

.scroll-show::-webkit-scrollbar {
    height: 8px !important;
    border-radius: 15px !important;
    background: lightgray !important;
}

.scroll-show::-webkit-scrollbar-thumb {
    background: gray !important;
    border-radius: 10px !important;
}

.HeaderLogoWrapper{
    margin: 0 auto;
    text-align: center;
}

.HeaderLogo{
    display: inline-block;
}

#login_page_body{
    background-image: url("/tsll.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1ED7C3;
}

.overlay_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.group_logo{
    border-radius: 50%;
    margin: 20px 20px auto;
    display: block;
    left: 0;
}

/* cursor not allowed */
.custom_disabled {
    pointer-events: none;
    opacity: .6;
}

.custom_required_field {
    color: red;
}

.custom_opacity{
    opacity: 0.6;
    pointer-events: none;
}

.custom_text_opacity{
    opacity: 0.6;
    cursor: not-allowed;
}

.archived_row{
    opacity: 0.5;
}

.archived_row_dot{

}

.custom_link{
    color: #0038c7;
}
.custom_link:hover{
    text-decoration: underline;
}

/* Qc Trading */

.main_menu {
    font-size: 12px;
}

.active_main_menu{
    color: #eeee09 !important;
}

.button_pm_color{
    background-color: #0F6B61;
}

.main_menu_link:hover {
    color: #eeee09;
}

.sub_menu li>a {
    background-color: #0F6B61 !important;
    color: #fff;
}

.sub_menu li>a:hover {
    color: #eeee09;
}


.sub_menu a {
    font-family: 'Calibri', Times, serif;
    line-height: .6;
}


.sub_sub_menu_two li>a {
    background-color: #369382 !important;
    color: #fff;
}

.sub_sub_menu_two li>a:hover {
    color: #eeee09;
}


.sub_sub_menu_two a {
    font-family: 'Calibri', Times, serif;
    line-height: .6;
}


.custom_down_arrow{
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0;
    top: 15px;
}

.datepicker{
    margin-top: 0.25rem;
    display: block;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* datepicker onfocus border color */
.datepicker:focus{
    border-color: #664cc3;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

input.custom_date{
    position:relative;
    overflow:hidden;
}
input.custom_date::-webkit-calendar-picker-indicator{
    display:block;
    top:0;
    left:0;
    background: #0000;
    position:absolute;
    transform: scale(12)
}

.business_unit{
    display: flex;
    width: 100%;
    justify-content: center;
}

.business_filter_input{
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(213, 214, 215, var(--tw-border-opacity));
    padding-right: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    min-width: 200px;
}

.business_filter_input:focus{
    border-color: rgba(213, 214, 215, var(--tw-border-opacity));
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    text-transform: capitalize;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -140%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.icn {
    @apply w-5 h-5 transition duration-150 ease-in-out hover:translate-y-1 hover:transform;
}

.active-tab{
    font-weight: bold;
}

.custom_renew_active_button{
    display: inline-block;
    cursor: pointer
}

.custom_renew_disable_button{
    display: inline-block;
    opacity: .4;
    pointer-events: none;
}

.v-select {
    --vs-controls-color: #374151;
    --vs-border-color: #4b5563;

    --vs-dropdown-bg: #282c34;
    --vs-dropdown-color: #eeeeee;
    --vs-dropdown-option-color: #eeeeee;

    --vs-selected-bg: #664cc3;
    --vs-selected-color: #374151;

    --vs-search-input-color: #4b5563;

    --vs-dropdown-option--active-bg: #664cc3;
    --vs-dropdown-option--active-color: #eeeeee;
}


@media only screen and (min-width: 768px) {
    #customDataTable {
        max-width: calc(100vw - 300px);
    }
}
@media only screen and (max-width: 767.99px) {
    #customDataTable {
        max-width: calc(100vw - 36px);
    }
}


.attachment-block {
    @apply flex items-center w-full mt-1 text-sm rounded dark-disabled:text-gray-300  dark-disabled:bg-gray-700 bg-white p-2 min-h-[2.4rem]
  }

/* #customDataTable::-webkit-scrollbar:horizontal {
    height: 0.3rem!important; 
  }

  #customDataTable::-webkit-scrollbar-thumb:horizontal{
    background-color: rgba(126, 58, 242); 
    border-radius: 12rem!important;
    width: 2rem!important;
  }

  #customDataTable::-webkit-scrollbar-track:horizontal{
    background: rgb(148, 144, 155)!important; 
    border-radius: 12rem!important;
  }

  #customDataTable::-webkit-scrollbar-button:horizontal {
    background-color: rgb(0, 0, 0); 
  }    */
