@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
	background: #a855f7 !important;
	height: 0.215rem;
}

@layer components {
	.btn-submit-default {
		@apply flex items-center justify-between px-4 py-2 mt-4 text-sm leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg font-medium active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple;
	}
}

input[type='search'] {
	@apply appearance-none border-none focus:outline-none;
}

.vs--searchable .vs__dropdown-toggle {
	cursor: text;
	height: 2.35rem ;
}

.vs--multiple  .vs__dropdown-toggle {
	cursor: text;
	height: auto ;
	min-height: 2.35rem;
}

.swal2-html-container{
    overflow: unset !important;
}

.swal2-title {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: brown;
}

.swal-width{width: 55%;font-size: 12px}

.swal2-html-container li{
	font-size: 13px !important;
}

/*.error-message-text{font-size: 13px !important;}*/

.dp__today {
    border: 1px solid #664cc3 !important;
}

.dp__range_end, .dp__range_start, .dp__active_date{
	background: #664cc3 !important;
}


.dp__theme_light, .dp__theme_dark {
	--dp-border-color: #4b5563 !important;
	--dp-border-color-hover: #4b5563 !important;
  	--dp-icon-color: #4b5563 !important;
}